# EditorConfig after https://EditorConfig.org

root = true

[*]
# all files, unix-style line endings
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.py]
# PEP 8
charset = utf-8
indent_style = space
indent_size = 4

[*.{c,cpp,cc,h,hpp}]
# kernel.org style
indent_style = tab
indent_size = 8

[*.plt]
# gnuplot files
indent_style = tab
indent_size = 4

[*.{tex,cls}]
# LaTeX
indent_style = tab
indent_size = 4
